@import "tailwindcss";

@theme {
  --color-bg: rgb(var(--bg) / <alpha-value>);
  --color-text: rgb(var(--text) / <alpha-value>);
  --color-card: rgb(var(--card) / <alpha-value>);
  --color-border: rgb(var(--border) / <alpha-value>);
  --color-header-bg: rgb(var(--header-bg) / <alpha-value>);
}

:root {
  --bg: #fff;
  --text: #000;
  --card: #fff;
  --border: #000;
  --header-bg: #99a1ae;
}

.dark {
  --bg: #111827;
  --text: #f3f4f6;
  --card: #1f2937;
  --border: #374151;
  --header-bg: #374151;
}

.brutal {
  --bg: #7a003c;
  --text: #00ff00;
  --card: #b3005e;
  --border: #000000;
  --header-bg: #c52a87;
}

@font-face {
  font-family: ugh;
  src: url(fonts/ugh.ttf);
}
@font-face {
  font-family: bristol;
  src: url(fonts/Bristol.otf);
}
@font-face {
  font-family: triangleBreak;
  src: url(fonts/Triangle\ Break.otf);
}
@font-face {
  font-family: cucu;
  src: url(fonts/Cucu-Regular.ttf);
}
@font-face {
  font-family: hindi;
  src: url(fonts/DevLys\ 350\ Wide\ Normal.ttf);
}
@font-face {
  font-family: scribeedoo;
  src: url(fonts/Scribeedoo.ttf);
}

@font-face {
  font-family: wahroonga;
  src: url(fonts/Wahroonga.ttf);
}

body {
  font-family: cucu;
}

* {
  user-select: none;
  -webkit-user-select: none;
}

.triangle {
  font-family: triangleBreak;
}
