@import "tailwindcss";

@font-face {
  font-family: ugh;
  src: url(fonts/ugh.ttf);
}
@font-face {
  font-family: bristol;
  src: url(fonts/Bristol.otf);
}
@font-face {
  font-family: triangleBreak;
  src: url(fonts/Triangle\ Break.otf);
}
@font-face {
  font-family: cucu;
  src: url(fonts/Cucu-Regular.ttf);
}
@font-face {
  font-family: hindi;
  src: url(fonts/DevLys\ 350\ Wide\ Normal.ttf);
}
@font-face {
  font-family: scribeedoo;
  src: url(fonts/Scribeedoo.ttf);
}

@font-face {
  font-family: wahroonga;
  src: url(fonts/Wahroonga.ttf);
}

body {
  font-family: cucu;
}

body::selection {
  background-color: #000;
  color: white;
}

.triangle {
  font-family: triangleBreak;
}
