@import "tailwindcss";

@theme {
  --color-bg: rgb(var(--bg) / <alpha-value>);
  --color-text: rgb(var(--text) / <alpha-value>);
  --color-card: rgb(var(--card) / <alpha-value>);
  --color-border: rgb(var(--border) / <alpha-value>);
  --color-header-bg: rgb(var(--header-bg) / <alpha-value>);
  --color-text-muted: rgb(var(--text-muted) / <alpha-value>);
  --color-card-shadow: rgb(var(--card-shadow) / <alpha-value>);
  --color-border-light: rgb(var(--border-light) / <alpha-value>);
  --color-header-bg-dark: rgb(var(--header-bg-dark) / <alpha-value>);
}

:root {
  --bg: #fff7f0;
  --card: #fff7f0;
  --card-shadow: #f6eae0;
  --text: #1a1a1a;
  --text-muted: #555555;
  --border: #1a1a1a;
  --border-light: #e0d6cc;
  --header-bg: #bfb7b0;
  --header-bg-dark: #a89e96;
}

.dark {
  --bg: #1a1c23;
  --card: #1f2230;
  --card-shadow: #2a2e42;
  --text: #e4e4e6;
  --text-muted: #a1a1aa;
  --border: #3c3f50;
  --border-light: #4b4f63;
  --header-bg: #2c2f3f;
  --header-bg-dark: #1f2230;
}

.brutal {
  --bg: #7a003c;
  --card: #b3005e;
  --card-shadow: #ff66aa;
  --text: #00ff99;
  --text-muted: #33ff88;
  --border: #000000;
  --border-light: #330033;
  --header-bg: #c52a87;
  --header-bg-dark: #a21e70;
}

@font-face {
  font-family: ugh;
  src: url(fonts/ugh.ttf);
}
@font-face {
  font-family: bristol;
  src: url(fonts/Bristol.otf);
}
@font-face {
  font-family: triangleBreak;
  src: url(fonts/Triangle\ Break.otf);
}
@font-face {
  font-family: cucu;
  src: url(fonts/Cucu-Regular.ttf);
}
@font-face {
  font-family: hindi;
  src: url(fonts/DevLys\ 350\ Wide\ Normal.ttf);
}
@font-face {
  font-family: scribeedoo;
  src: url(fonts/Scribeedoo.ttf);
}

@font-face {
  font-family: wahroonga;
  src: url(fonts/Wahroonga.ttf);
}

body {
  font-family: cucu;
}

* {
  user-select: none;
  -webkit-user-select: none;
  cursor: none;
}

.triangle {
  font-family: triangleBreak;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.perspective {
  perspective: 1000px;
}
